*{
    margin: 0;
    padding: 0;
}




nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align:right; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12;
    position: relative;
    font-size: 18px;
}

.abc{
width: 90%;
color: grey;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.abc h1{
 font-size: 62px;
}

.abc p{
margin: 10px 0 40px;    
font-size: 14px;
}

